.App {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  overflow: auto;
}

.MuiDialog-paper,.MuiMenu-paper,.MuiPopover-paper {
  border-radius: 12px !important;
}
.MuiList-padding {
  padding: 8px !important;
}
.MuiMenuItem-root {
  border-radius: 8px !important;
}

.main-container div[style$="788px;"]{
  min-width: auto !important;
}

.main-container div[contenteditable="true"]:empty::before {
  content: "Наберите сообщение";
}