body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

::-webkit-scrollbar {
  width:0;
  margin-right: 0;
  padding: 0;
  display: none !important;
}